/* Set colors */
:root {
  --primary-color: #565264;
  --secondary-color: #706677;
  --tertiary-color: #A6808C;
  --quaternary-color: #CCB7AE;
  --quinary-color: #D6CFCB;
}

/* Style the body */
body {
  /* font-family: "Open Sans", sans-serif; */
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  line-height: 1.6;
}

*{
  font-family: Ubuntu;
}

/* Style the navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--tertiary-color);
}

nav .active {
  color: var(--quinary-color);
}

body {
  padding-top: 80px;
}


/* Style the header */
header {
  background-color: var(--primary-color);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header h1 {
  font-size: 50px;
  color: var(--quinary-color);
  text-align: center;
  margin-top: 125px; 
}

header p {
  font-size: 24px;
  color: var(--secondary-color);
  text-align: center;
}

header .cta {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

body {
  font-family: sans-serif;
  color: var(--primary-color);
  background-color: var(--quinary-color);
  margin: 0;
  padding: 0;
}

.Claire_Cheng{
  font-family:"Space Mono", monospace;
}


/* Style the about section */
section#about {
  padding: 60px 20px;
}

.about-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.about-wrapper h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.about-wrapper p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-color);
}

/* Style the project section */
section#projects{
  padding: 60px 20px;
  background-color: var(--tertiary-color);
}

.my-projects-heading{
  text-align: center;
  font-size: 36px;
}

.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
.project-images img {
  width: 100%; /* set the width to 100% to make the images responsive */
  height: auto; /* set the height to auto to maintain the aspect ratio */
  object-fit: cover; /* crop images to fit the specified dimensions */
}

@media only screen and (min-width: 768px) {
  .project-images img {
    width: 300px; /* set a fixed width for all images on larger screens */
    height: 200px; /* set a fixed height for all images on larger screens */
  }
}

/* Style the contact section */
#contact-me {
  background-color: var(--quaternary-color);
  padding: 50px;
}

#contact-me h2 {
  text-align: center;
  color: #565264;
  margin-bottom: 50px;
  font-size: 36px;

}

#contact-me form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

#contact-me label {
  color: var(--primary-color);
  font-size: 18px;
  margin-bottom: 10px;
}

#contact-me input[type="text"],
#contact-me input[type="email"],
#contact-me textarea {
  background-color: var(--quinary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

#contact-me input[type="text"]:focus,
#contact-me input[type="email"]:focus,
#contact-me textarea:focus {
  outline: none;
  box-shadow: 0 0 3px var(--secondary-color);
}

#contact-me button[type="submit"] {
  background-color: var(--tertiary-color);
  color: var(--q-color);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-me button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

footer{
  margin-left: 20px;
}


